config.stopbubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.anyconstructor.addconstructorproperties = true
lombok.copyableannotations += org.springframework.context.annotation.Lazy
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value